/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    margin-left: 8%;
}

.logo-main {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-main span {
    width: 67px;
    height: 20px;
    top: 55px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    margin: 10px;
}

.logo-main img {
    width: 36px;
    height: 36px;
    top: 45px;
    left: 8%;
    border-radius: 4px 4px 24px 4px;
}

.header-nav {
    display: flex;
    align-items: center;
}

button,
select {
    background-color: transparent;
    margin: 0 10px;
    height: 34px;
    padding: 8px 16px;
    border-radius: 32px;
    border: 1px solid #FFFFFF4D;
    gap: 10px;
    cursor: pointer;
}

button {
    width: 100px;
    white-space: nowrap;
}

select {
    width: 122px;
}

button.sign-up-btn {
    display: flex;
    position: relative;
    left: -10%;
    width: 107px;
    height: fit-content;
    padding: 12px 24px;
    gap: 10px;
    cursor: pointer;
    background-color: #d1fae5;
    color: #047857;
    transition: background 0.3s ease;

}

button.sign-up-btn:hover{
    background-color: #10B981;
    color: white;

}

button:not(.sign-up-btn),
select {
    position: relative;
    background-color: #FFFFFF1A;
    color: #F0F3FD;
    left:-28%;
}

select .property-option {
    background-color: #FFFFFF1A;
    color: #333;
}

.house-img {
    display: flex;
    width: 50vw;
    height: 50vw;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    border-radius: 0 0 0 80px;
}

body {
    font-family: 'Lexend', sans-serif;
}

header, button, select {
    font-family: 'Lexend', sans-serif;
}

.main {
    position: relative;
    font-family: 'Lexend', sans-serif;
}

/*banner*/
.banner{
    margin-left: 8%;
}
.banner-header {
    width: 496px;
    height: 150px;
    font-family: 'Lexend', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0;
    text-align: left;
    color: #1B1C57;
    position: relative;
}

.banner-header span {
    font-weight: 700;
    color: #fff;
    text-shadow: -1px -1px 0 #1B1C57, 1px -1px 0 #1B1C57, -1px 1px 0 #1B1C57, 1px 1px 0 #1B1C57;
}

.banner-text {
    text-align: left;
    width: 496px;
    height: 56px;
    opacity: 0.75;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    color: #626687;
}

.banner-actions {
    display: flex;
    align-items: center;
}

.search-bar {
    width: 35%;
    height: fit-content;
    padding: 4px 4px 4px 24px;
    border-radius: 32px;
    border: 1px solid #E0E3EB;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

#locationInput {
    flex: 1;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    border: none;
    padding: 10px;
    border-radius: 0;
}

#searchButton {
    background-color: #10B981;
    position: absolute;
    left: 75%;
    width: 22%;
    height: 48px;
    padding: 12px 16px;
    border-radius: 32px;
    gap: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton img.right-arrow {
    width: 7px;
    height: 14px;
    position: relative;
    top: 1px;
    left: 4px;
    margin-left: 3px;
}

#searchButton span.search-text {
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    color: #ffffff;
}

#searchButton:hover {
    background-color: #d1fae5;
    color: #047857;
}

.map-pointer-icon {
    width: 18px;
    height: 22px;
}

.partnership-text {
    width: 120px;
    height: 32px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    color: #888B97;
    margin-top: 32px;
    white-space: nowrap;
    position: relative;
    z-index: 2;
}

.partner-images {
    display: flex;
    gap: 32px;
    flex-wrap: nowrap;
    margin-top: -1%;
}

.partner-img{
    position: relative;
    width: 82px;
    height: 64px;
    z-index: 1;
}

/*recommendations*/
.recommendation{
    margin-top: 18%;
    display: flex;
    align-items: center;
}

.orange-line {
    margin-left: 8%;
    width: 32px;
    height: 1px;
    margin-bottom: 6%;
}

.recommendation-header{
    margin-left: 1%;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    color: #F59E0B;
    margin-bottom: 7%;
    white-space: nowrap;
}

.recommendation-text {
    margin-top: 2%;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    margin-left: -10%;
    white-space: nowrap;
    color: #1B1C57;
    justify-content: flex-start;
}

.filter-buttons {
    justify-content: center;
    position: relative;
    margin: auto;
    list-style-type: none;
    white-space: nowrap;
    display: flex;
}

.filter-buttons label {
    margin-right: 10%;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    width: auto;
    height: auto;
    padding: 12px 24px;
    border-radius: 32px;
    gap: 8px;
    border: 1px solid #E0E3EB;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;

    color: #888B97;
    transition: background 0.3s ease;
}

.house-icon{
    width: 18px;
    height: 19px;
}
.villa-icon{
    width: 18px;
    height: 18px;
}
.filter-buttons input[type="radio"] {
    position: absolute;
    opacity: 0.01;
    z-index: 100;
}

.filter-buttons input[type="radio"]:checked + label,
.Checked + label {
    background: #D1FAE5;
    color: #10B981;
    border: none;
}

.filter-buttons label:hover {
    background: #DDD;
}


.arrow-buttons {
    position: relative;
    justify-content: flex-end;
    white-space: nowrap;
    display: flex;
    margin-right: 10%;
}

.arrow {
    width: 62px;
    height: 30px;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    border-radius: 32px;
    gap: 4px;
    background-color: #E0E3EB;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    margin: 7%;
}

.left-arrow img,
.right-arrow img {
    width: 8px;
    height: 16px;
}


.arrow:hover {
    background: #10B981;
}

.recommendations {
    font-family: 'Lexend', sans-serif;
    margin-left: 10%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.house_sale {
    flex: 0 0 auto;
    margin-right: 3%;
}

.recommendations img {
    margin-bottom: 10px;
    width: 340px;
    height: 382px;
    border-radius: 24px;
}

.recommendations h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 5px;
    color: #0E1735;
}

.recommendations p.price {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    color: #3C4563;
    margin-bottom: 1%;
}

.owner {
    display: flex;
    align-items: center;
}

.owner img {
    display: flex;
    width: 40px;
    height: 40px;
    top: 40%;
    border-radius: 50%;
    margin-top: 8%;
}

.owner-details {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.owner-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: -10px;
    color: #0E1735;
}

.owner-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 5px;
    color: #888B97;
}

/*ready to sell section*/
.ready-sell-text{
    font-family: 'Lexend', sans-serif;
    margin-top: 10%;
    display: flex;
    align-items: center;

}

.ready-sell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -7%;
}

.tour{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    white-space: nowrap;
    color: #1B1C57;
}

.promo{
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    opacity: 0.75;
    color: #626687;
    margin-top: -3%;
}

.details{
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    opacity: 0.75;
    color: #1B1C57;
    margin-bottom: 2%;
}
.content-container {
    display: flex;
    align-items: flex-start;
    margin-left: -18%;
}

.ready-sell-description {
    max-width: 413px;
}

.details table {
    margin-top: 10px;
}


.media-container {
    position: relative;
    max-width: 600px;
    flex-grow: 1;
    margin-top: -4%;
}

table {
    width: 100%;
    margin-left: -2%;
}

table p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #3C4563;
    margin: 0 0 0 5px;
}

.icon-sale {
    width: 32px;
    height: 32px;
    padding: 8px 4px 8px 4px;
    border-radius: 4px;
}

td {
    vertical-align: middle;
    text-align: left;
}

.cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.media-container{
    position: relative;
}
.video {
    position: relative;
    width: 488px;
    height: 416px;
    border-radius: 4px;
    background: #00000033;
    z-index: 2;
    margin-left: 70%;
}


.video-container {
    position: relative;
    display: inline-block;
}

.play-icon{
    position: absolute;
    top: 50%;
    right: -30%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    z-index: 3;
}


.play-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.first-photo {
    object-fit: fill;

    position: absolute;
    z-index: 2;
    margin-top: -27%;
    width: 296px;
    height: 168px;
    border-radius: 4px;
    margin-left: 62%;
}

.second-photo {
    margin-left: 125%;
    position: absolute;
    width: 96px;
    height: 80px;
    border-radius: 4px;
    margin-top: -9%;
}

.third-photo {
    position: absolute;
    margin-left: 148%;
    width: 96px;
    height: 80px;
    border-radius: 4px;
    margin-top: -9%;
}

.first-photo:hover,
.second-photo:hover,
.third-photo:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-52px) scale(1.7);
    z-index: 3;
}

.owner-sell {
    display: flex;
    align-items: center;
}

.owner-sell img {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-top: 1%;
}

.owner-sale-details {
    display: grid;
    margin-left: 5%;
    white-space: nowrap;
}

.owner-name-sell {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: -10px;
    color: #0E1735;
    grid-column: 1;
}

.owner-description-sell {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 5px;
    color: #888B97;
    grid-column: 1;
}

#contactButton {
    background-color: #10B981;
    position: relative;
    width: 163px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 32px;
    gap: 16px;
    cursor: pointer;
    grid-column: 2;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-top: -5%;
}

#contactButton:hover {
    background-color: #d1fae5;
    color: #047857;
}

/*reviews*/
.reviews-promo {
    margin-top: 10%;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orange-line-centered {
    display: block;
    margin: 0 auto;
    height: 1px;
}

.review-header-centered{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    color: #F59E0B;
}

.review-title{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0;
    color: #1B1C57;
    max-width: 500px;

}
.review-header-centered,
.review-title {
    margin: 10px 0;
}

.slider-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
}

.slide {
    display:flex;
    flex-direction: column;
    position: relative;
    margin: 2%;
    align-items: center;
}

.slide img{
    width: 740px;
    height: 400px;
    border-radius: 8px;
    z-index: 1;
}

.house-photo{
    opacity: 0.7;
}

.review-details{
    display: grid;
    width: 82.7%;
    height: auto;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    gap: 24px;
    z-index: 2;
    position: relative;
    margin-top: -20%;
    box-shadow: 0 9px 32px 0 #595CDB0D;
}

.review-heading {
    margin-top: 1%;
    grid-row: 1;
    column-span: all;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color:#1B1C57;

}
.review-text {
    margin-top: -5%;
    grid-row: 2;
    column-span: all;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #626687;
    opacity: 0.75;

}

.author-details {
    grid-column: 1;
    grid-row: 3;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: -4%;
}

.author-details img {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 1%;
}

.author-info {
    text-align: left;
    margin-left: 3%;
    white-space: nowrap;
}

.author-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: -10px;
    color: #0E1735;
}

.author-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 5px;
    color: #888B97;

}
.rating{
    grid-row: 3;
    grid-column: 2;
    margin-left: -15%;
    display: flex;
    flex-direction: row;
}

.rating .star-icon{
    width: 28px;
    height: 28px;
    padding: 2px 2px 2px 2px;
}

.score{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #3C4563;
    margin-left: 8px;
}

.dot-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    margin: 0 5px;
    cursor: pointer;
}

.dot svg {
    width: 100%;
    height: 100%;
}

/*articles*/
#moreButton{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #10B981;
    width: 129px;
    height: 46px;
    padding: 12px 16px 12px 16px;
    border-radius: 32px;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
    z-index: 3;
    transition: background 0.3s ease;
    justify-self: center;
    margin-top: 14%;
}

#moreButton:hover{
    background-color: #d1fae5;
    color: #047857;
}

.article-previews{
    font-family: 'Lexend', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    margin-top: 7%;
}
.small-img{
    width: 200px;
    height: 144px;
    border-radius: 16px;
}

.small-preview-1,
.small-preview-2,
.small-preview-3{
    display: flex;
    align-items: center;
    margin-left: 10%;
    width: 600px;
}

.small-preview-1{
    grid-row: 1;
    grid-column: 1;
}

.small-preview-2{
    grid-row: 2;
    grid-column: 1;
}
.small-preview-3{
    grid-row: 3;
    grid-column: 1;
}

.big-preview{
    grid-column: 2;
    grid-row: span 3;
}

.big-img{
    width: 560px;
    height: 280px;
    border-radius: 16px;
    margin-bottom: 3%;
}
.author-icon {
    width: 32px;
    height: 32px;
    box-shadow: 0 9px 32px 0 #595CDB1A;
    margin-right: 10px;
    border-radius: 50%;
}

.author-article-details {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 4%;
}

.author-article-info {
    display: flex;
    align-items: center;
}

.author-article-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    color: #3C4563;
}

.article-review {
    text-align: left;
}

.article-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 5px;
    color: #1B1C57;
}

.upload-time {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: left;
    color: #888B97;
    display: flex;
}

.upload-time svg{
    margin-right: 2%;
}

.review{
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color:#626687;
    opacity: 0.75;
    width: 80%
}

.article-big-name{
    color:#1B1C57;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: -1%;
}

/*subscribe*/
.subsribe {
    display: flex;
    margin-top: 10%;
}

.subscribe-section {
    margin-bottom: 10%;
    margin-left: 8%;
}

.subscribe-background {
    width: 100%;
    height: 312px;
    border-radius: 32px;
    z-index: -1;
}

.subscribe-title{
    width: 490px;
    height: 96px;
    font-family: 'Lexend', sans-serif;
    color: #1B1C57;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
    position: relative;
    margin-left: 29%;
    z-index: 3;
}

.subscribe-form {
    width: 41%;
    height: fit-content;
    padding: 4px 4px 4px 24px;
    border-radius: 32px;
    border: 1px solid #E0E3EB;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 28%;
    margin-bottom: -20%;
    z-index: 2;
    position: relative;
}

#subscribeInput {
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    border: none;
    padding: 10px;
    border-radius: 0;
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
}

#subscribeButton {
    background-color: #10B981;
    width: 129px;
    height: 46px;
    padding: 12px 16px 12px 16px;
    border-radius: 32px;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
    left: 73%;
    z-index: 3;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#subscribeButton:hover {
    background-color: #d1fae5;
    color: #047857;
}

.mail {
    position: relative;
    width: 20px;
    height: 16px;
    z-index: 3;
}


/*footer*/
.footer {
    display: flex;
    margin-left: 8%;
    font-family: 'Lexend', sans-serif;
    z-index: 3;
}

.footer-logo a {
    text-decoration: none;
}

.footer-logo span {
    width: 67px;
    height: 20px;
    margin: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #1B1C57;
    text-decoration: none;
}

.footer-hounter {
    width: 36px;
    height: 36px;
    border-radius: 4px 4px 24px 4px;
}

.footer-logo p{
    width: 320px;
    height: 72px;
    top: 4342px;
    left: 120px;
    opacity: 0.75;

    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #626687;
}

.social-icons{
    gap: 24px;
}

.social-icon{
    width: 32px;
    height: 32px;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
}

.column-property,
.column-article,
.column-contact {
    flex: 1;
    margin-right: 10%;
    position: absolute;
}

.column-property h3,
.column-article h3,
.column-contact h3 {
    text-align: left;
    color: #0E1735;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0;
}

.column-property {
    right: 40%;
}

.column-article {
    right: 25%;
}

.column-contact {
    right: 0;
}

.column-property a,
.column-article a,
.column-contact p{
    color: #888B97;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    white-space: nowrap;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
}



.background-blue-end {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 438px;
    height: 494px;
    z-index: 1;
}



.background-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 438px;
    height: 494px;
    z-index: -1;
    opacity: 0.3;
}
.background-red-center{
    position: absolute;
    left: 74%;
    top: 1452px;
    width: 438px;
    height: 494px;
    z-index: 1;
    opacity: 0.3;
}
.background-yellow-center{
    position: absolute;
    left: 70%;
    top: 1574px;
    width: 438px;
    height: 494px;
    z-index: 1;
    opacity: 0.3;
}
.background-blue-end{
    position: absolute;
    left: 75%;
    top: 4400px;
    width: 438px;
    height: 494px;
    z-index: -1;
    transform: rotate(180deg);
    opacity: 0.3;
}
.background-yellow-end{
    position: absolute;
    left: 75%;
    top: 4500px;
    width: 438px;
    height: 494px;
    z-index: -2;
    transform: rotate(180deg);
    opacity: 0.3;
}